<nav class="sidebar">
  <div class="sidebar-header">
  </div>
  <ul class="nav-links">
    <li><a routerLink="/admin/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a routerLink="/admin/users" routerLinkActive="active"><i class="fas fa-user"></i> Users</a></li>
    <li><a routerLink="/admin/reports" routerLinkActive="active"><i class="fas fa-chart-line"></i> Reports</a></li>
    <li><a routerLink="/admin/settings" routerLinkActive="active"><i class="fas fa-cog"></i> Settings</a></li>
  </ul>
</nav>
