<nav class="sidebar">

  <ul class="nav-links">
    <li><a routerLink="/contributorLayout/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i><span class="link-text">Dashboard</span></a></li>
    <li><a routerLink="/contributorLayout/marketplace" routerLinkActive="active"><i class="fas fa-store"></i> <span class="link-text">Marketplace</span></a></li>
    <li><a routerLink="/contributorLayout/reports" routerLinkActive="active"><i class="fas fa-chart-line"></i> <span class="link-text">Reports</span></a></li>
    <li><a routerLink="/contributorLayout/full-assets" routerLinkActive="active"><i class="fas fa-box-open"></i> <span class="link-text">Assets</span></a></li>

  </ul>


</nav>
