<nav class="sidebar">

  <ul class="nav-links">
    <li><a routerLink="/contributorLayout/marketplace" routerLinkActive="active"><i class="fas fa-store"></i> Marketplace</a></li>
    <li><a routerLink="/contributorLayout/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a routerLink="/contributorLayout/reports" routerLinkActive="active"><i class="fas fa-chart-line"></i> Reports</a></li>
    <li><a routerLink="/contributorLayout/full-assets" routerLinkActive="active"><i class="fas fa-box-open"></i> Assets</a></li>

  </ul>


</nav>
