<nav class="sidebar">
  <div class="sidebar-header">
    <!-- <img src="assets/images/logo-light.png" alt="Logo" class="logo" /> -->
    <!-- <h3>Veggo Admin</h3> -->
  </div>
  <ul class="nav-links">
    <li><a routerLink="/contributorLayout/marketplace" routerLinkActive="active"><i class="fas fa-store"></i> Marketplace</a></li>
    <li><a routerLink="/contributorLayout/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a routerLink="/contributorLayout/reports" routerLinkActive="active"><i class="fas fa-chart-line"></i> Reports</a></li>
    <li><a routerLink="/admin/settings" routerLinkActive="active"><i class="fas fa-cog"></i> Settings</a></li>
  </ul>
</nav>
