<div class="filter-bar">
    
    
      <!-- <span class="badge green">Published: {{ publishedCount }}</span>
      <span class="badge orange">Unpublished: {{ unpublishedCount }}</span> -->
    <button class="btnaddAsset" (click)="goToAddAseet()">add Asset</button>

  </div>
  
  <div class="asset-table-container">
    <table class="asset-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
          <th>Rating</th>
          <th>Reviews</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let asset of paginatedAssets">
          <td>{{ asset.name }}</td>
          <td>{{ asset.type }}</td>
          <td>
            <span class="badge" [ngClass]="asset.status.toLowerCase()">{{ asset.status }}</span>
          </td>
          <td><i class="fas fa-star text-gold"></i> {{ asset.averageRating || 0 }}/5</td>
          <td>{{ asset.reviewsCount || 0 }}</td>
          <td>
            <a [routerLink]="['/contributorLayout/edit', asset.id]">
              <button class="btn-icon blue"><i class="fas fa-edit"></i></button>
            </a>
            <a [routerLink]="['/contributorLayout/assetAnalytics', asset.id]">
            <button class="btn-icon purple"><i class="fas fa-chart-line"></i></button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination -->
<div class="pagination-bar">
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">&laquo;</button>

  <button *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === (i + 1)"
          (click)="onPageChange(i + 1)">
    {{ i + 1 }}
  </button>

  <span>Page {{ currentPage }} / {{ totalPages }} ({{ filteredAssets().length }} items)</span>
</div>

  </div>
  