<div class="form-wrapper">
  <h2 class="form-title">Add New Asset</h2>
  <form [formGroup]="assetForm" (ngSubmit)="submitAsset()" enctype="multipart/form-data">
    <div class="form-grid-3">
      <div class="form-group"><label>Name</label><input type="text" formControlName="name" /></div>
      <div class="form-group"><label>Label</label><input type="text" formControlName="label" /></div>
      <div class="form-group"><label>Publisher</label><input type="text" formControlName="publisher" [readonly]="true" /></div>
      <div class="form-group"><label>Email</label><input type="email" formControlName="publisherMail" [readonly]="true" /></div>
      <div class="form-group"><label>Created at</label><input type="date" formControlName="publishDate"  [readonly]="true"  /></div>
      <div class="form-group"><label>License</label>
        <select formControlName="license">
          <option *ngFor="let l of licenseOptions" [value]="l">{{ l }}</option>
        </select>
      </div>
      <div class="form-group"><label>Status</label>
        <select formControlName="status">
          <option *ngFor="let s of statusOptions" [value]="s">{{ s }}</option>
        </select>
      </div>
      <div class="form-group"><label>Asset Type</label>
        <select formControlName="assetType">
          <option *ngFor="let t of assetTypes" [value]="t">{{ t }}</option>
        </select>
      </div>
      <div class="form-group"><label>Project Type</label>
        <select formControlName="projectType">
          <option *ngFor="let t of projectTypes" [value]="t">{{ t }}</option>
        </select>
      </div>
    </div>
    <div class="form-group full"><label>Description</label>
      <textarea rows="2" formControlName="description" placeholder="Short description..."></textarea>
    </div>
    <div class="form-grid-3">
      <div class="form-group"><label>Upload Doc (PDF)</label>
        <input type="file" accept="application/pdf" (change)="onDocumentationSelect($event)" />
      </div>
      <div class="upload-preview">
        <label>Asset Image</label>
        <div class="upload-box" (click)="imageInput?.click()">
          <ng-container *ngIf="imagePreview; else imagePlaceholder">
            <img [src]="imagePreview" alt="Preview" />
          </ng-container>
          <ng-template #imagePlaceholder>
            <p>Click to select image</p>
          </ng-template>
          <input type="file" hidden #imageInput (change)="onImageSelect($event)" />
        </div>
      </div>
     
    </div>
    <div class="form-grid-2">
      <div class="form-group">
        <label>Tags</label>
        <div class="tag-list">
          <span 
            *ngFor="let tag of allTags"
            class="tag-chip"
            [class.selected]="isTagSelected(tag.name)"
            (click)="toggleTag(tag.name)">
            {{ tag.name }}
          </span>
        </div>
        <div class="custom-tag-wrapper">
          <input 
            type="text" 
            [(ngModel)]="customTag" 
            placeholder="New tag..." 
            class="custom-tag-input"
            name="customTag"
           [ngModelOptions]="{ standalone: true }"
          />

          <button type="button" class="custom-tag-btn" (click)="addCustomTag()" >+ Add</button>
        </div>
      </div>

      
      
      <div class="form-group">
        <label>Category</label>
        <select formControlName="category">
          <option *ngFor="let c of allCategories" [value]="c.name">{{ c.name }}</option>
        </select>
      </div>
    </div>
    <div class="form-group full">
      <button type="button" class="toggle-btn" (click)="showRelatedType = !showRelatedType">
        {{ showRelatedType ? 'Hide' : 'Show' }} Related Fields
      </button>
    </div>
    <div *ngIf="showRelatedType" class="form-grid-3">
      <div class="form-group" *ngIf="assetForm.get('framework')"><label>Framework</label>
        <select formControlName="framework">
          <option *ngFor="let fw of frameworks" [value]="fw">{{ fw }}</option>
        </select>
      </div>
      <div class="upload-preview" *ngIf="assetForm.get('icon')">
        <label>Icon Upload</label>
        <div class="upload-box" (click)="iconInput?.click()">
          <ng-container *ngIf="iconPreview; else iconPlaceholder">
            <img [src]="iconPreview" alt="Icon" />
          </ng-container>
          <ng-template #iconPlaceholder>
            <p>Click to select icon</p>
          </ng-template>
          <input type="file" hidden #iconInput (change)="onIconSelect($event)" />
        </div>
      </div>
      <div class="form-group" *ngIf="assetForm.get('format')"><label>Format</label>
        <input type="text" formControlName="format" />
      </div>
      <div class="form-group" *ngIf="assetForm.get('themeType')"><label>Theme Type</label>
        <input type="text" formControlName="themeType" />
      </div>
      <div class="form-group" *ngIf="assetForm.get('primaryColor')"><label>Primary Color</label>
        <input type="text" formControlName="primaryColor" />
      </div>
      <div class="form-group" *ngIf="assetForm.get('templateCategory')"><label>Template Category</label>
        <input type="text" formControlName="templateCategory" />
      </div>
      <div class="form-group checkbox-group" *ngIf="assetForm.get('preconfigured')"><label>Preconfigured</label>
        <input type="checkbox" formControlName="preconfigured" />
      </div>
      <div class="form-group full" *ngIf="assetForm.get('dependencies')"><label>Dependencies</label>
        <textarea rows="2" formControlName="dependencies"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" [disabled]="assetForm.invalid">Submit Asset</button>
    </div>

  </form>
</div>
