<div class="review-component">

  <div *ngIf="visibleComments.length > 0; else noComments">
    <div
      class="comment-card"
      *ngFor="let comment of visibleComments"
      [id]="'review-' + comment.id"
    >
      <div class="comment-card-header">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>

    <div *ngIf="allComments.length > maxVisible" class="view-more-container">
      <button (click)="toggleShowAllComments()">
        {{ showAllComments ? 'View less comments' : 'View more comments' }}
      </button>
    </div>
  </div>

  <ng-template #noComments>
    <p class="no-comments">No feedback yet. Be the first to share!</p>
  </ng-template>

  <!-- Comment Form -->
  <div class="comment-form">
    <h4 class="form-title">Leave a Comment</h4>
    <textarea [(ngModel)]="commentText" rows="3" placeholder="Write your thoughts..."></textarea>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <button (click)="submitComment()">Submit</button>
  </div>
</div>
