<div class="user-list-header">
  <button class="btn-add-user" routerLink="/admin/users/add">
    <i class="fas fa-user-plus"></i> Add User
  </button>
</div>

<div class="user-table-container">
  <table class="user-table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Role</th>
        <th>Enabled</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>
            <select
                [ngModel]="user.role"
                (ngModelChange)="changeUserRole(user.id, $event)"
                class="role-select">
                <option value="USER">USER</option>
                <option value="CONTRIBUTOR">CONTRIBUTOR</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </td>

        <td>
            <button
              [ngClass]="user.enabled ? 'btn-status green' : 'btn-status red'"
              (click)="toggleUserActivation(user.id, !user.enabled)">
              {{ user.enabled ? 'Activated' : 'Deactivated' }}
            </button>

        </td>

        <td>
          <button class="btn-icon blue" (click)="deleteUser(user.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
