<div class="marketplace-page">
  
  <!-- Sidebar -->
  <aside class="sidebar">

    <div class="filter-group">
      <h4>Categories ({{ allCategories.length }})</h4>
      <label *ngFor="let category of allCategories">
        <input
          type="checkbox"
          [value]="category.id"
          (change)="onFilterChange('categories', $event)"
        />
        {{ category.name }}
      </label>
    </div>

    <div class="filter-group">
      <h4>Tags ({{ allTags.length }})</h4>
      <label *ngFor="let tag of allTags">
        <input
          type="checkbox"
          [value]="tag.name"
          (change)="onFilterChange('tags', $event)"
        />
        {{ tag.name }}
      </label>
    </div>

    <button class="filter-button" (click)="applyFilters()">Apply filters</button>
  </aside>

  <!-- Main Content -->
  <main class="content">
    <div class="top-bar">
      <input
        type="text"
        placeholder="Search by keyword"
        [(ngModel)]="searchQuery"
        (input)="filterAssets()"
      />
      
    </div>
<!-- Recommended Section -->
 <div *ngIf="loadingRecommendations" class="loading-placeholder">
  <p>Loading recommendations...</p>
</div>
<div *ngIf="recommendedAssets.length > 0" class="group-section">
  <h3> Recommended for You</h3>
  <div class="asset-list">
    <div 
      class="asset-item" 
      *ngFor="let asset of recommendedAssets"
      [routerLink]="getAssetDetailLink(asset.id)">
      <img [src]="getIcon(asset.image)" (error)="onImageError($event)" />
      <div>
        <strong>{{ asset.name }}</strong><br />
        <span>{{ asset.description }}</span>
      </div>
    </div>
  </div>
</div>

<!-- Trending Section -->
<div *ngIf="trendingAssets.length > 0" class="group-section">
  <h3>📈 Trending Assets</h3>
  <div class="asset-list">
    <div 
      class="asset-item" 
      *ngFor="let asset of trendingAssets"
      [routerLink]="getAssetDetailLink(asset.id)">
      <img [src]="getIcon(asset.image)" (error)="onImageError($event)" />
      <div>
        <strong>{{ asset.name }}</strong><br />
        <span>{{ asset.description }}</span>
      </div>
    </div>
  </div>
</div>
    <div *ngIf="groupedAssets.length === 0">
      <p>No assets found.</p>
    </div>

    <div class="group-section" *ngFor="let group of groupedAssets">
      <h3>{{ group.label }}</h3>
      <div class="asset-list">
        <div 
        class="asset-item" 
        *ngFor="let asset of group.assets"
        [routerLink]="getAssetDetailLink(asset.id)"
        style="cursor: pointer;"
      >
               <img
            [src]="getIcon(asset.image)"
            alt="asset icon"
            (error)="onImageError($event)"
          />
          <div>
            <strong>{{ asset.name }}</strong><br />
            <span>{{ asset.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
