<!-- <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="author">Name:</label>
      <input id="author" formControlName="author" required />
    </div>
    <div>
      <label for="rating">Rating:</label>
      <select id="rating" formControlName="rating" required>
        <option *ngFor="let r of ratings" [value]="r">{{ r }}</option>
      </select>
    </div>
    <div>
      <label for="fullText">Comment:</label>
      <textarea id="fullText" formControlName="fullText" required></textarea>
    </div>
    <button type="submit" [disabled]="commentForm.invalid">Submit Comment</button>
  </form>
   -->