
  canvas {
    display: block;
    width: 100% !important;
    height: 240px !important;  
  }
  
  .chart-toggle-container {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .toggle-btn {
    background-color: #4F46E5;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
  }
  .toggle-btn:hover {
    background-color: #4338CA;
  }
  