.admin-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

app-side-bar-admin {
  width: 250px;
  flex-shrink: 0;
  z-index: 2;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  
}

.content-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f6f8;
  z-index: 1;
}
